.dress-container {
  text-align: center;
  padding: 20px;
  margin-top: 100px;

  .dress-color {
    display: block;
    margin: auto;
    width: 50%;
  }

  .dress-code {
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 40px;
  }

  @media only screen and (max-width: 1180px) {
    .dress-color {
      width: 70%;
    }
  }
}