.homepage-container {
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

.homepage-names {
  font-family: "plumrose";
  font-size: 12em;
}

@media only screen and (max-width: 1180px) {
  body {
    background-position-x: 100%, -5%, 103%;
    background-position-y: 105%, 100%, 90%;
  }
}

@media only screen and (max-width: 480px) {
  body {
    background-position-y: 105%, 85%, 38%;
  }

  .homepage-names {
    font-size: 8.5em;
  }
}