.main-container {
  text-align: center;
  padding: 20px;
  margin-top: 200px;

  .main-desc {
    width: 100%;
    margin: auto;
  }

  .bank-qr {
    width: 350px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}