.venue-container {
  text-align: center;
  padding: 20px;
  margin-top: 100px;

  .venue-map {
    width: 100%;
  }

  .venue-desc {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15em;
  }
}