.invitation-image {
  max-width: 100%;
  margin-top: 20px;
  box-shadow: -1px 1px 26px -12px rgba(0,0,0,1);
-webkit-box-shadow: -1px 1px 26px -12px rgba(0,0,0,1);
-moz-box-shadow: -1px 1px 26px -12px rgba(0,0,0,1);
}

@media (max-width: 750px) {
  .first-image {
    margin-top: 100px;
  }
  .second-image {
    margin-top: 40px;
  }
}