@import "./styles/normalize.css";
@import "./styles/skeleton.css";

@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');

@import "./styles/utilities/variables.scss";

@font-face {
  font-family: 'plumrose';
  src: url('/plumrose.otf');
}

body {
  background: $primary-color;
  font-family: "Quattrocento";
  font-size: 1.8em;
  color: $secondary-color;
  height: 100vh;

  background-image: url("/bottom-flowers.png"), url("/flowers/flowers-01.png"), url("/flowers/flowers-02.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom -14em left, left -2em top, right -2em top;
  background-size: 100%, 20%, 20%;
}

.primary-button {
  background-color: $tertiary-color;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  width: 300px;

  &:hover {
    background-color: #592C22;
    color: #FFFFFF;
  }
}

.flowers {
  display: block;
  position: absolute;
  z-index: -999;

  &.top-flowers {
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
  }

  &.bottom-flowers {
    width: 100%;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
  }

  @media only screen and (max-width: 1180px) {
    &.top-flowers {
      top: -7em;
    }
  }
  
  @media only screen and (max-width: 480px) {
    &.top-flowers {
      top: 0;
    }
  }
}

@media only screen and (max-width: 1180px) {
  body {
    background-image: url("/bottom-flowers.png"), url("/flowers/flowers-01-low.png"), url("/flowers/flowers-02-low.png");

    background-position: bottom -1em left, left -2em top, right -2em top;
    background-size: 200%, 35%, 35%;
    background-position-x: 100%, -5%, 100%;
    background-position-y: 105%, 140%, 80%;
  }
}

@media only screen and (min-width: 400px) {
  .container {
    width: 100% !important;
  }
}

.flipdown {
  font-family: "Quattrocento" !important;
}

.rotor-group {
  z-index: -1;
  .rotor-group-heading {
    &::before {
      color: $secondary-color !important;
    }
  }

  .rotor {
    background-color: $secondary-color !important;

    .rotor-leaf-rear,
    .rotor-leaf-front,
    .rotor-top,
    .rotor-bottom {
      background-color: $secondary-color !important;
    }
  }
}